/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
h1,
h2,
h3,
h4,
h6,
span,
.footer-menu {
  font-family: "Nunito", sans-serif;
}
button,
p,
li {
  font-family: "Open Sans", sans-serif;
}

form {
  display: flex;
  margin-top: 10px;
}

.btn {
  width: 146px;
  height: 50px;
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  color: white;
  background-color: #118df0;
  border: none;
  border-radius: 6%;
  cursor: pointer;
}
.btn:hover {
  color: rgb(231, 227, 227);
  background-color: #0877d3;
}
.btn-lg {
  font-size: 20px;
  height: 70px;
  width: 173px;
  font-weight: 400s;
}

/* PAGE FORMATS */
.container {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* GRID SYSTEM */
.col-12 {
  width: calc(100% / 12 * 12);
}
.col-6 {
  width: calc(100% / 12 * 6);
}
.col-4 {
  width: calc(100% / 12 * 4);
}
.col-3 {
  width: calc(100% / 12 * 3);
}

/* HEADER */
#logobly-logo {
  width: 110px;
  height: 50px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

/* MAIN-HERO */
#main-hero {
  background-color: #7dc99b;
}
.main-hero-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  text-align: center;
}
.main-hero-content h1 {
  font-size: 55px;
  font-weight: 200;
  color: white;
  margin-top: 66px;
}
.main-hero-content h4 {
  font-size: 24px;
  font-weight: 100;
  color: white;
  margin: 16px 0px;
}
.main-hero-content form {
  width: 553px;
  display: flex;
  justify-content: space-between;
  padding: 0px 4px 0px 4px;
}
.main-hero-content input {
  height: 70px;
  width: 360px;
  border: none;
  border-radius: 3%;
  padding: 0px 60px 0px 20px;
  font-size: 20px;
  font-weight: 400;
}
.ratings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  margin: 20px 0px;
  align-items: center;
}
.ratings h6 {
  font-size: 16px;
  font-weight: 500;
}
.ratings span {
  font-size: 20px;
  font-weight: 500;
  margin-right: 3px;
}
.ratings img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
.ratings span {
  font-family: Arial, Helvetica, sans-serif;
}
.hero-img-container {
  display: flex;
  justify-content: center;
}
.main-hero-img {
  background-image: url("../img/Logobly_brand_package_image_08.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 1200px auto;
  width: 100%;
  height: 46vh;
}

/* CLIENTS */
.clients-header {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.clients-header h6 {
  font-size: 16px;
  font-weight: lighter;
}
.clients-img {
  width: 100%;
  height: auto;
}

/* SUB-HEROS */
.sub-hero {
  background-color: #f8f8f8;
  padding-top: 50px;
}
.sub-hero-content-left {
  display: flex;
  flex-direction: row-reverse;
  margin: 0px 10px;
}
.sub-hero-content-right {
  display: flex;
  margin: 0px 10px;
}
.sub-hero-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
}
.sub-hero-content h2 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 500;
}
.sub-hero-content p {
  font-size: 18px;
  line-height: 27px;
  font-weight: lighter;
  color: #868484;
  margin: 20px 0px 30px 0px;
}
.sub-hero-img {
  width: 100%;
  height: auto;
}

/* WORK-PREVIEWS */
.work-preview-img {
  width: 100%;
  height: auto;
}

/* TESTIMONIALS */
#testimonials {
  padding: 105px 0px 105px;
  height: 565px;
}
.testimonials-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.testimonials-title h2 {
  font-size: 45px;
  line-height: 54px;
  font-weight: normal;
}
.testimonials-title span {
  font-size: 25px;
  line-height: 38px;
  color: #f0ad4e;
  font-weight: 300;
}
.testimonials-stars {
  margin: 20px 0px 30px 0px;
}

/* TESTIMONIALS-CAROUSEL */
@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}
.carousel {
  position: relative;
}
.carousel-slides {
  text-align: center;
  position: absolute;
  z-index: -1;
  top: 0;
  opacity: 0;
  animation: display 30s infinite;
}
.carousel-slides:nth-child(2) {
  animation-delay: 6s;
}
.carousel-slides:nth-child(3) {
  animation-delay: 12s;
}
.carousel-slides:nth-child(4) {
  animation-delay: 18s;
}
.carousel-slides:nth-child(5) {
  animation-delay: 24s;
}
.carousel-slides p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  font-style: italic;
  color: #868484;
}
.author {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #525252;
}
.author-title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #868484;
}
.carousel-img {
  margin: 30px 0px;
  border-radius: 50%;
}

/* HOW-LOGOBLY-WORKS */
#how-logobly-works {
  padding: 105px 0px 105px 0px;
}
.how-logobly-works-content {
  text-align: center;
  padding: 10px;
}
.how-logobly-works-content h2 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 500;
  margin-bottom: 40px;
}
.how-logobly-works-content h3 {
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
  margin: 30px 0px;
}
.how-logobly-works-content p {
  font-size: 18px;
  font-weight: 400;
  color: #868484;
  margin-bottom: 20px;
}
.working-steps {
  padding: 10px;
}
.working-steps img {
  height: 40px;
  width: auto;
}

/* FEATURES */
#features {
  padding: 105px 0px 105px 0px;
}
.features-content h2 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
  padding: 10px;
}
.features-col {
  padding: 10px;
}
.features-entry {
  display: flex;
}
.features-entry img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}
.features-entry span {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #525252;
  margin: 9px 0px 16px 0px;
}
.features-entry p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 3 00;
  color: #525252;
  margin: 9px 0px 16px 0px;
}
.upper-entry {
  margin-bottom: 30px;
}

/* FREQUENTLY-ASKED-QUESTIONS */
#faq {
  padding: 105px 0px 105px 0px;
  background-color: #f8f8f8;
}
.faq-content h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 45px;
  line-height: 54px;
  font-weight: 500;
}
.faq-content {
  padding: 10px;
}
.faq-column {
  padding: 10px;
}
.faq-entry {
  margin: 8px 0px 28px 0px;
}
.faq-entry p {
  margin: 16px 0px;
}
.faq-entry p,
.faq-entry li {
  font-size: 18px;
  line-height: 29px;
  font-weight: 300;
  color: #868484;
}
.faq-entry h4 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #525252;
}
.faq-entry ol {
  margin-left: 18px;
}

/* SERVICES */
#services {
  padding: 50px 0px 50px 0px;
}
.services-column {
  padding: 10px;
}
.services-entry {
  margin: 32px 0px 12px 0px;
}
.services-entry:first-child {
  margin-top: 0px;
}
.services-entry p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 100;
}
.services-entry a {
  text-decoration: none;
  color: #0877d3;
}
.services-entry a:hover {
  color: #065fa8;
}

/* CALL-TO-ACTION */
#cta {
  background-color: #7dc99b;
  background-image: url("../img/Logobly_header_image_03-1.jpg	");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 450px;
  text-align: center;
  padding-top: 60px;
}
#cta h2 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 500;
}
#cta h4 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  margin: 24px 0px 40px 0px;
}

/* RESPONSIVENESS AND MEDIA QUERIES  */
@media (min-width: 576px) {
  .col-sm-12 {
    width: calc(100% / 12 * 12);
  }
  .col-sm-6 {
    width: calc(100% / 12 * 6);
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    width: calc(100% / 12 * 12);
  }
  .col-md-6 {
    width: calc(100% / 12 * 6);
  }
  .col-md-4 {
    width: calc(100% / 12 * 4);
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    width: calc(100% / 12 * 12);
  }
  .col-lg-6 {
    width: calc(100% / 12 * 6);
  }
  .col-lg-4 {
    width: calc(100% / 12 * 4);
  }
  .col-lg-3 {
    width: calc(100% / 12 * 3);
  }
}
@media (min-width: 1030px) {
  .col-xl-12 {
    width: calc(100% / 12 * 12);
  }
  .col-xl-6 {
    width: calc(100% / 12 * 6);
  }
  .col-xl-4 {
    width: calc(100% / 12 * 4);
  }
  .col-xl-3 {
    width: calc(100% / 12 * 3);
  }
}

@media (max-width: 768px) {
  .main-hero-content input,
  .ratings,
  .clients-content,
  #services {
    display: none;
    cursor: none;
    pointer-events: none;
  }
  .main-hero-content form {
    width: 553px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    padding: 0px 4px 0px 4px;
  }
  .main-hero-img {
    background-image: url("../img/Logobly_brand_package_image_08.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 27vh;
  }
  .main-hero-content h1 {
    font-size: 55px;
    font-weight: 200;
    color: white;
    margin-top: 20px;
  }
  .sub-hero-content {
    background-color: #f8f8f8;
    margin: 0px 40px;
  }
  .sub-hero-img {
    max-width: 673px;
    max-height: 673px;
    width: 100%;
    height: auto;
  }
  .sub-hero-content h2,
  .testimonials-title h2,
  .how-logobly-works-content h2,
  .features-content h2,
  .faq-content h2,
  #cta h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
  }
  .testimonials-content,
  .features-content {
    margin: 0px 40px;
  }
  #testimonials,
  #how-logobly-works,
  #features,
  #faq {
    padding: 40px 0px 40px;
  }
  .working-steps h3 {
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
  }
  .features-content {
    text-align: center;
  }
  .features-entry {
    display: block;
  }
  .faq-column:last-child p:last-child,
  .faq-column:last-child .faq-entry:last-child {
    margin-bottom: 0;
  }
  #cta {
    background-size: contain;
  }
}

@media (max-width: 992px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;
  }
}
