/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
h1,
h2,
h3,
h4,
h6,
span,
.footer-menu {
  font-family: "Nunito", sans-serif;
}
button,
p,
li {
  font-family: "Open Sans", sans-serif;
}

form {
  display: flex;
  margin-top: 10px;
}

.btn {
  width: 146px;
  height: 50px;
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  color: white;
  background-color: #118df0;
  border: none;
  border-radius: 6%;
}

/* PAGE FORMATS */
.container {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* GRID SYSTEM */
.col-12 {
  width: calc(100% / 12 * 12);
}
.col-6 {
  width: calc(100% / 12 * 6);
}
.col-4 {
  width: calc(100% / 12 * 4);
}
.col-3 {
  width: calc(100% / 12 * 3);
}

/* RESPONSIVENESS */
@media (min-width: 576px) {
  .col-sm-12 {
    width: calc(100% / 12 * 12);
  }
  .col-sm-6 {
    width: calc(100% / 12 * 6);
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    width: calc(100% / 12 * 12);
  }
  .col-md-6 {
    width: calc(100% / 12 * 6);
  }
  .col-md-4 {
    width: calc(100% / 12 * 4);
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    width: calc(100% / 12 * 12);
  }
  .col-lg-6 {
    width: calc(100% / 12 * 6);
  }
  .col-lg-4 {
    width: calc(100% / 12 * 4);
  }
  .col-lg-3 {
    width: calc(100% / 12 * 3);
  }
}
@media (min-width: 1030px) {
  .col-xl-12 {
    width: calc(100% / 12 * 12);
  }
  .col-xl-6 {
    width: calc(100% / 12 * 6);
  }
  .col-xl-4 {
    width: calc(100% / 12 * 4);
  }
  .col-xl-3 {
    width: calc(100% / 12 * 3);
  }
}

/* HEADER */
#logobly-logo {
  width: 110px;
  height: 50px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

/* MAIN-HERO */
#main-hero {
  background-color: #7dc99b;
}
.main-hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-hero-content h1 {
  font-size: 55px;
  color: white;
  margin-top: 66px;
}
.main-hero-content h4 {
  font-size: 24px;
  font-weight: 300;
  color: white;
  margin: 16px 0px;
}
.btn-main-hero {
  font-size: 20px;
  height: 70px;
}
.main-hero-content input {
  height: 70px;
  width: 357px;
  border: none;
  border-radius: 3%;
  margin-right: 15px;
  padding: 0px 60px 0px 20px;
  font-size: 20px;
  font-weight: 400;
}
